form {
    padding: 20px;
}


#scrollDiv {
    margin-top: 10px;
    overflow: auto;
    max-height: 95vh;
    width: 300px;
    overflow-x: hidden;
    
}

div.card.horizontal.hoverable {
    min-width: 300px;
    }

    @media (max-width: 600px) { 
        #scrollDiv {
        margin-top: 10px;
        overflow: hidden !important;
        max-height: 505vh;
        width: 300px;
        overflow-x: auto !important;
        
    }  
    }

