<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Universidad del Cauca</h5>
        <p class="grey-text text-lighten-4">Smart Cities</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contacto</h5>
        <ul>
          <li><a class="white-text" href="#!">+57 (2) 8209900 </a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Integrantes</h5>
        <ul>
          <li><a class="white-text">Jeison Fernando Ramos</a></li>
          <li><a class="white-text">Daniel Eduardo Yacup</a></li>
          <li><a class="white-text">Cristian Quilindo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2019<a class="brown-text text-lighten-3" href="#">®</a>
    </div>
  </div>
</footer>