<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Información de la empresa</h5>
        <p class="grey-text text-lighten-4">Openrando noticias y más ...</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contacto</h5>
        <ul>
          <li><a class="white-text" href="#!">+573185865313</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2019<a class="brown-text text-lighten-3" href="#">®</a>
    </div>
  </div>
</footer>