<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="container">

  <div class="row center" style="margin-top:45px;">
    <img src="../../../assets/Escudo-OK.png" alt="">
  </div>


  <div class="row center">
    <div class="col s4">
      <a (click)="register()" class="waves-effect indigo darken-4 waves-light btn-large">Registro</a>
    </div>
    <div class="col s4">
      <a (click)="recharge()" class="waves-effect indigo darken-4 waves-light btn-large">Recargar</a>
    </div>
    <div class="col s4">
      <a (click)="pay()" class="waves-effect indigo darken-4 waves-light btn-large">Pagar</a>
    </div>
  </div>

</div>